block html
  html
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width,initial-scale=1"
      )

    link(
      href="../style/style-cssGrid.css",
      rel="stylesheet",
      type="text/css"
      )
    
    script(
      src=""
      )

    title Homepage – YP Your Party

    meta(name="description" content=" Description")

  body
    a(
      href="../index.html",
      tabindex="1"
      class="a11y-aid"
      ) Go to homepage w/ mobile
